body {
  text-align: center;
}

div {
  margin-left: auto;
  margin-right: auto;
}

p.attribution {
    font-size: 50%;
}

.hero {
  max-width: 600px;
  display: flex;
  color: #0D2C58;
  font-weight: 400;
  font-size: 0.875rem;
  font-family: Cabin, sans-serif;
}

.main-header {
  color: #0D2C58;
  font-weight: 700;
  font-size: 1.75rem;
  font-family: PT Serif, serif;
}

.contact-form {
  background-color: #f2f2f2;
  color: #212529;
  text-align: left;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}


