.hero {
  display: flex;
  color: #666;
  font-weight: 400;
  font-size: 0.875rem;
  font-family: Cabin, sans-serif;
}

.main-header {
  color: #0D2C58;
  font-weight: 700;
  font-size: 1.75rem;
  font-family: PT Serif, serif;
}
