body {
  text-align: center;
  margin: 0;
  padding: 0;
}

.hero {
  margin: 20px auto;
  padding: 0 15px; 
  max-width: 900px; 
  
  display: flex;
  flex-direction: column;
  gap: 30px; 

  color: #0D2C58;
  font-weight: 400;
  font-size: 1rem; 
  font-family: Cabin, sans-serif;
  text-align: left; 
}

/* Styles for the two sections inside the hero */
.hero section {
    padding: 0;
}

/* Media Query for Larger Screens (Desktop View) */
@media (min-width: 768px) {
  .hero {
    flex-direction: row;
    align-items: flex-start; 
  }
}

/* Image and Attribution Styles */
.hero img {
    max-width: 100%;
    height: auto;
    display: block; 
    border-radius: 8px;
}

figcaption.attribution {
  font-size: 0.7rem;
  color: #6c757d;
  margin-top: 5px;
}


.main-header {
  color: #0D2C58;
  font-weight: 700;
  font-size: 4rem;
  font-family: 'PT Serif', serif;
  margin-top: 40px;
  margin-bottom: 20px;
}

.contact-form {
  background-color: #f2f2f2;
  color: #212529;
  text-align: left;
  padding: 30px;
  border-radius: 8px;
}

.contact-form h3 {
    margin-top: 0;
}

form#contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form#contact-form input, 
form#contact-form select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%; 
  box-sizing: border-box; 
}

button.contact-form {
  background-color: white;
  color: #0D2C58;
  font-family: Cabin, sans-serif;
  font-size: 1rem; 
  font-weight: 600;
  border: 2px solid #0D2C58;
  border-radius: 50px;
  height: 45px;
  width: 10rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px; 
  cursor: pointer; 
  transition: all 0.2s ease-in-out; 
}

button.contact-form:focus,
button.contact-form:hover {
  background-color: #0D2C58;
  color: white;
  border-color: #0D2C58;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
